
.btn-primary {
    background-color: #007bff;
    border: none;
}

.btn-primary:hover {
    background-color: #0069d9;
}
.question-image {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

.text-center {
    text-align: center;
}

.mt-5 {
    margin-top: 5px;
}

.mt-3 {
    margin-top: 3px;
}

.result-print {
    font-size: 20px;
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    border-radius: 5px;
}
